<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />

    <style>
    body {
      background-color: black;
    }
    /* Add a new CSS rule for the hint */
    .hint {
      color: rgba(130, 228, 12, 0.9);
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
      padding: 1rem;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .bottom-image {
      position: fixed;
      bottom: 660;
      width: 50%;
      text-align: center;
    }
    </style>
</head>
<body>
The player will have to navigate through a series of clues and riddles to reach this page,
however for this demo, you can simply use the nav dropbox.
<div class="container">
    <nav>   </nav>
    <p th:text="${innerHtml}"></p>
    <blockquote class="quote">
        <!-- Use th:utext instead of th:text -->
        <p class="hint" th:utext="${hint}"></p>
    </blockquote>
</div>
<!-- Add the image at the bottom of the page -->
<img class="bottom-image" src="../images/╛┴╞┴┬╬.jpg" alt="Background image">
<script type="module" src="../js/nav.js">
</script>
</body>
</html>