<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    The character encoding for the HTML document is set to UTF-8.
    The viewport is set to the width of the device, the height of the device, and the initial zoom level is set to 1.0.
    The CSS stylesheet for the application is linked.
    -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />

    <!--
    Internal CSS styles for the body, hint, container, and bottom-image classes.
    The body background color is set to black.
    The hint class sets the color, font size, font style, text alignment, and padding for the hint text.
    The container class sets the display to flex, the flex direction to row, and the justify content to flex-start.
    The bottom-image class sets the position to fixed, the bottom to 660, the width to 50%, and the text alignment to center.
    -->
    <style>
    body {
      background-color: black;
    }
    .hint {
      color: rgba(130, 228, 12, 0.9);
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
      padding: 1rem;
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    .bottom-image {
      position: fixed;
      bottom: 660;
      width: 50%;
      text-align: center;
    }
    </style>
</head>
<body>
    <!--
    The player will have to navigate through a series of clues and riddles to reach this page,
    however for this demo, you can simply use the nav dropbox.
    -->
    <div class="container">
        <!--
        The navigation bar will be inserted here by the JavaScript code.
        -->
        <nav></nav>

        <!--
        The innerHtml text will be inserted here by the Thymeleaf template engine.
        -->
        <p th:text="${innerHtml}"></p>

        <!--
        The hint text will be inserted here by the Thymeleaf template engine.
        The hint text is styled with the hint class.
        -->
        <blockquote class="quote">
            <p class="hint" th:utext="${hint}"></p>
        </blockquote>
    </div>

    <!--
    The bottom image is inserted at the bottom of the page.
    The image source is set to "../images/╛┴╞┴┬╬.jpg" and the alt text is set to "Background image".
    -->
    <img class="bottom-image" src="../images/╛┴╞┴┬╬.jpg" alt="Background image">

    <!--
    The JavaScript module for the navigation bar is linked.
    -->
    <script type="module" src="../js/nav.js">
    </script>
</body>
</html>