<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav></nav>
    <!-- Add the canvas element -->
<!-- Increase the size of the canvas -->
<canvas id="tetris" width="481" height="801"></canvas>

    <!-- Add the score element -->
    <div id="score"></div>

    <!-- Include the JavaScript game file -->
    <script type="module" src="../js/game.js"></script>

    <!-- Include the other JavaScript files -->
    <script type="module" src="../js/nav.js"></script>
</body>
</html>